# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
.settings/
.classpath
.project
.factorypath
.apt_generated_tests/

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# Maven (legacy)
target/
bin/
doc/
